.wrapper {
    margin: 0;
    padding: 11px 0;
    list-style: none;
}

.name {
    margin-right: 13px;
    font-weight: bold;
    display: inline-block;
}


.description {
    display: inline-block;
}


.link {
    composes: link from './base.css';
}
